<ion-header>
  <ion-toolbar>
    <ion-title>BMI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Altura (m)</ion-label>
        <ion-input [(ngModel)]="altura"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Peso (kg)</ion-label>
        <ion-input [(ngModel)]="peso"></ion-input>
      </ion-item>

      <ion-button color="secondary" (click)="calculaBMI()">Calcular</ion-button>
    </ion-card-content>
  </ion-card>

  <h1 *ngIf="bmi">O seu indice é: {{ bmi.BMI | number: '1.2-2' }}</h1>
  <h2 *ngIf="bmi">Classificado como: {{ bmi.classificacao }}</h2>

  <ion-button expand="full" color="primary" (click)=verMais()>ver mais</ion-button>
</ion-content>
