<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Resultados da Pesquisa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="numberOfResults > 0">
      <ion-card *ngFor="let restaurante of results">
        <ion-card-content>
          <ion-row>
            <ion-col>
              <img [src]="restaurante.restaurant.thumb" style="height: 245px; width: 245px"/>
            </ion-col>
          </ion-row>
        </ion-card-content>
        <ion-card-header>
          <ion-card-subtitle>{{restaurante.restaurant.location.locality}}</ion-card-subtitle>
          <ion-card-title>{{restaurante.restaurant.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button expand="full">Ver detalhes</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row *ngIf="numberOfResults === 0">
      <h1>Oooops!! Sem resultados!!</h1>
    </ion-row>
  </ion-grid>
</ion-content>
