* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

  align-items: center;
  justify-content: center;
}

body {
  --webkit-font-smoothing: antialiased;
}

.container {
  width: 100vw;
  height: 100vh;
  margin-bottom: 100px;
}

.row {
  height: 100%;
  align-items: center;
}
