* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

  align-items: center;
  justify-content: center;
}

body {
  --webkit-font-smoothing: antialiased;
  background: rgb(18, 18, 20);
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(225, 225, 230);
  font-family: 'Ubuntu', sans-serif;
}

@media (max-width: 765px) {
  .title {
    text-align: center;
  }

  .login {
    padding: 30px 15px !important;
    border-radius: 4px !important;
  }
}

@media (max-width: 1300px) {
  .container .bg-img {
    width: 0px !important;
  }
}

.bg-img {
  position: absolute;
  opacity: 0.2;
  width: 750px;
  left: -100px;
  top: -75px;
}

.container {
  width: 100vw;
  height: 100vh;
  margin-bottom: 100px;
}

.row {
  height: 100%;
  align-items: center;
}

.col-md-5 h1 {
  font-weight: bold;
  margin-bottom: 50px;
  font-size: 38px;
  color: #e5434e;
}

.col-md-5 h3 {
  font-weight: bold;
  font-size: 42px;
}

.col-md-5 span {
  color: #e5434e;
}

.login {
  background: rgb(32, 32, 36);
  padding: 60px 60px;
  
  border-radius: 8px;
  box-shadow: 1px 2px 6px rgba(32, 32, 36, 0.2);
}

form .form-group label {
  color: rgb(225, 225, 230);
  margin: 0;
  font-weight: 700;
}

form .form-group input {
  background: rgb(18, 18, 20);
  border: none;
}

form .form-group input:focus{
  background: rgb(18, 18, 20);
  border: none;
}

form .form-check input {
  background: rgb(18, 18, 20);
}

.btn-secondary {
  width: 100%;
  background: #e5434e;
  border: none;
  font-weight: 700;
}

.btn-secondary:hover {
  background: #962d34;
  border: none;
}

hr {
  background: rgb(41, 41, 46);
}
 